<app-header></app-header>
<div class="con" style="margin-top:50px;">
    <mat-toolbar>
        <!-- <button mat-button mat-dialog-close><a routerLink="/userprofile">Back</a></button> -->
        <span style="text-align: center;margin-left: 40%;color: black;"><h2>Product To Buy</h2></span>

        <div style="margin-left: 35%;"><a routerLink='/schedular'>Schedule meeting</a></div>
    </mat-toolbar>
    <h2 class="text-center" *ngIf="!this.productService.getCartNumber()">Add items</h2>
    <div *ngIf="this.productService.getCartNumber()">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.productService.cartProducts">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        <img src="{{item.image}}" style="height:80px;width:80px;" alt="">
                    </td>
                    <td>
                        <button style="padding:10px;" (click)="this.productService.decrement(item.id)">-</button> {{item.cart}}
                        <button style="padding:10px;" (click)="this.productService.increment(item.id)">+</button>
                    </td>
                    <td>
                        {{item.price * item.cart}}
                    </td>
                    <td>
                        <button mat-raised-button color="warn" (click)="this.productService.removeItem(item.id)">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>{{this.productService.getTotalPrice()}}</td>
                    <td></td>
                </tr>

            </tbody>
        </table>

    </div>
</div>
<div style="align-content: center;font-size: 24px;">
    <button mat-button mat-dialog-close><a routerLink="/procced">Place Order  <i class="fa fa-angle-double-right"></i></a></button>
</div>
